.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 100px;
  box-shadow: 0px 5px 50px rgba(56, 215, 255, 0.3);
}

.header img {
  padding: 5px;
}

.header h1 {
  margin: auto;
  /* position: absolute; */
}

.linkBox {
  margin: auto 0;
  
}

.linkBox a {
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  transition: color ease-in-out 0.5s;
}

.linkBox a:hover {
  font-weight: bold;
  color: rgb(56, 215, 255);
}

body {
  background-image: url('./components/image/background-polygon-lightblue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}